/* @import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css); */
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
body{ 
    margin: 0; 
    padding: 0; 
}
.container-fluid .nav-link{
    font-family: 'Xanh Mono', monospace;
    letter-spacing: 1px;
}
.mid h3{
    font-family: 'Xanh Mono', monospace;
    font-weight: bold;
    letter-spacing: 1.2px;
    transform: scale(1.2,1);
}
.topnav{
    background-color: #FCEFD9;
    height: 7vh;   
}

nav .nav-link{
    font-weight: bold;
}
.container-fluid{
    position: relative;
    height: 90vh;
    background-image: url("../img/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container-fluid .nav-link{
    color: white;
} 
.container-fluid .row{
    padding-top: 25px;
}
.mid{
    text-align: center;
}
.right ul{
    float:right;
}

.search-container {
    background-color: #FFF;
    position: relative;
    margin: 10px;
    border-radius: 30px;
    padding:3px 50px 3px 10px;
  }
  .search-box {
    /* background-color: transparent; */
    outline: none;
    height: 20px;
    font-size: 15px;
    border: 0;
  }
  .search-button {
    position: absolute;
    right: 4px;
    background-color:white;
    border: 0;
    color:gray;
    border-radius: 50%;
    width: 35px;
    height: 20px;
    outline: 0;
  }

.imgcenter{
    text-align: center;
    margin-top: 30px;
}
.top-img{
    display: inline-block;
    vertical-align: middle;
    height: 45vh;
    margin: 16px;
}
.second{
    margin-top: 35px;
    position: relative;
}
.slick-nav{
    height: 5vh;
    background-color: #FCEFD9;
}

#new{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #5c5d5d;   
    color: white;
}
.slick-slide{
    position: relative;
}
/* .slick-img{
    position: relative;
    background-color: tomato;
    height: 70vh;
    bottom: 0;
} */
.slick-slide img{
    position: relative;
    width: 100%;
}
.slick-slider .prev-arrow{
    position: absolute;
    display: inline-block;
    right: 4%;
    top: -45px;
    margin: 10px;
    z-index: 1;
}
.slick-slider .next-arrow{
    position: absolute;
    display: inline-block;
    top: -35px;
    right: 1%;
}
.slick-dots{
    position: absolute;
    bottom:0;
    right: 20px;
    display: flex;
    list-style: none;
}
.slick-dots li{
    margin: 0 0.75rem;
    border-radius: 50%;
}
.slick-dots button{
    font-size: 0;
    /* display: block; */      
    padding: 0;
    width: 16px;
    height: 16px;
    border:white;
    border-width: 5px;
    border-radius: 50%;
}
.slick-dots li.slick-active button{
    /* background-color:transparent; */
    background-color: tomato;
}

.hot-article{
    position: relative;
}
.hot-article h5{
    background-color: #5c5d5d;   
    color: white;
    height: 5vh;
    width: 100%;
    text-align: center;
    position: relative;
    letter-spacing: 20px;
    padding: 5px;
}

.hot-article img{
    margin-top: 22px;
    margin-left: 14px;
    width:100%;
    /* height:130px */
}
.img-rank{
    position: absolute;
    background-color: tomato;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    margin-top: 5px;
}
.img-rank p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hot-article .intro p{
    position: relative;
    padding-top: 40%;
    font-size: 12px;
    left: 0;
}
#third{
    margin: 60px;
    position: relative;
}
#third .img-div{
    text-align: center;
}
#third img{
    width: 32%;
    padding: 10px;
    margin: auto;
}
.all-posts{
    text-align: center;
    margin-top: 20px;
}
.all-post-btn{
    border: none;
    background-color: #5c5d5d;
    color: #FFF;
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
}
.introduction{
    background-color: #c9caca;
    text-align: center;
}
#forth span{
    position:relative;
    top:1px;
    display:inline-block;
}
#forth h2{
    padding-top: 20px;
    border-bottom: 4px #5c5d5d solid;
    padding-bottom: 6px;
}
#forth .col-3{
    padding: 0;
    margin: 0;
}
#forth .col-4{
    padding: 0;
    margin: 0;
    /* display: inline; */
}
#forth .all-post-btn{
    margin-bottom: 20px;
}
#forth img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.subscribe{
    position: relative;
    background-color: black;
    opacity: 0.8;
    /* display: inline; */
    /* text-align: center; */
}
.subscribe span{
    padding: 15px;
    /* display: inline; */
}
.subscribe .title{
    font-size: 14px;
    margin-left: 35px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #5c5d5d;   
    color: white;
}
#forth form{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-left: 10%;
    margin-bottom: 40px;
    width: 75%;
    /* display: inline; */
}
.love-title{
    font-size: 14px;
    margin-left: 35px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;  
    background-color: yellow;
    border-radius: 10px;
}
.foot-middle p{
    margin-left: 50px;
    margin-right: 50px;
}